.theme-switch {
  -webkit-tap-highlight-color: transparent;
  border-radius: 9999px;
  box-sizing: content-box;
  margin: -0.5rem;
  padding: 0.5rem;
}

.sun,
.sun-beams,
.moon {
  transform-origin: center;
}

@media (prefers-reduced-motion: reduce) {
  .sun,
  .sun-beams,
  .moon {
    transition-property: none;
  }
}

.sun {
  transition: transform 0.5s cubic-bezier(0.5, 1.25, 0.75, 1.25);
}
html.dark .sun {
  transform: scale(1.75);
  transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
  transition-duration: 0.25s;
}

.sun-beams {
  transition:
    transform 0.5s cubic-bezier(0.5, 1.25, 0.75, 1.25),
    opacity 0.5s cubic-bezier(0.25, 0, 0.3, 1);
}
html.dark .sun-beams {
  opacity: 0;
  transform: rotate(-25deg);
  transition-duration: 0.15s;
}

.moon {
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}
html.dark .moon {
  transform: translateX(-0.5rem);
  transition-delay: 0.25s;
  transition-duration: 0.5s;
}
